<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Streetfeast | Food blogging & more</title>
  <meta description="Try Polynote for free, a simple note-taking app for you and your team. Open source, real-time collaboration, markdown, tags, notebooks and more.">
  <link rel="icon" type="img/png" href="/static/promo/img/favicon.png">
  
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/assets/layout.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.scrollTo.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.fancybox.pack.js?v=2.1.5"></script>
  <script type="text/javascript" src="/assets/jquery.fancybox-media.js?v=1.0.6"></script>
  <script type="text/javascript" src="/assets/main.js"></script>
  <link rel="stylesheet" href="/assets/home.css" type="text/css" />
      
  
  
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="https://polynote.io/static/promo/img/logo.png" alt="Polynote">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#features">About</a></li>
        <li><a href="/#pricing">Roadmap</a></li>
        <li><a href="https://polynote.io/login">Login</a></li>
        <li><a href="/blog">Register</a></li>
        <li class="divider"></li>
        <li><a href="/#pricing" class="nav-cta">Create your own blog</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>Write your notes together,<br>in real-time</h1>
        <p class="subtext">Polynote is a simple, collaborative note-taking app</p>
        <a class="cta" href="/#pricing">Try it for free</a>
      </div>
      <div class="col-md-8 screenshot">
        <img src="https://polynote.io/static/promo/img/screenshot.png" alt="screenshot">
      </div>
    </div>
  </div>
</div>

<div id="story">
  <div class="container">
    <h2>Take note of anything — with anyone</h2>
    <p>
      Good notes helps remember what's been said and done, and what needs to be done.
      But in calls and meetings, words and ideas are too often missed out.
      Polynote makes writing things down easy, fast and collaborative.
    </p>
  </div>
</div>

<div id="screenshots">
  <div class="row">
    <div class="col-sm-6">
      <img src="https://polynote.io/static/promo/img/screenshot2.png" alt="screenshot">
    </div>
    <div class="col-sm-6">
      <img src="https://polynote.io/static/promo/img/screenshot3.png" alt="screenshot">
    </div>
  </div>
</div>

<div id="features">
  <div class="primary">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Intuitive and fast</h3>
          <p>
            Polynote is a Web application designed for speed and simplicity: creating,
            organizing and publishing notes take seconds and feels natural. Every change
            you make is saved automatically.
          </p>
        </div>
        <div class="col-md-4">
          <h3>Instant collaboration</h3>
          <p>
            You can invite anyone to collaborate. Just type the email addresses of your
            friends or coworkers to send them private links and start working on the note
            together in real-time.
          </p>
        </div>
        <div class="col-md-4">
          <h3>Markdown support</h3>
          <p>
            Polynote uses Markdown to add formating to your notes. Our editor provides
            syntax highlighting, keyboard shortcuts and an easy to use toolbar. If you're
            not familiar with Markdown, it takes a few minutes to learn and is becoming
            widely available.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Search and tags</h3>
        <p>
          Use tags to organize your notes. Search through them as well as through the
          content of your notes.
        </p>
      </div>
      <div class="col-md-4">
        <h3>Notebooks</h3>
        <p>
          You can organize your notes into notebooks to manage multiple projects easily.
          Invite other members to collaborate on a notebook.
        </p>
      </div>
      <div class="col-md-4">
        <h3>Organizations</h3>
        <p>
          Share many notebooks as a team using organizations.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>Publishing</h3>
        <p>
          You can publish a note as an Web page in one click available through a link
          which your can send to anyone. Your Markdown content will be transformed to HTML.
        </p>
      </div>
      <div class="col-md-4">
        <h3>Navigation mode</h3>
        <p>
          To quickly read or browse your notes, switch to navigation mode. The editor gets out
          of your way so you can skim your notes and quickly navigate through notebooks.
        </p>
      </div>
      <div class="col-md-4">
        <h3>Full-screen</h3>
        <p>
          To stay focus on your writings, open your notes in full-screen mode. This puts the
          content of your note in focus and keep unnecessary tools in the background.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="pricing">
  <div class="container">
    <h2>Get started today</h2>
    <div class="personal">
      <p class="pricing">15 days free trial - <strong>20 $/year</strong></p>
      <p class="features">Unlimited notes &amp; notebooks</p>
      <a class="cta" href="https://polynote.io/signup" onClick="ga('send', 'event', 'trial', 'start');">Start your free trial &raquo;</a>
    </div>
    <div class="business">
      <h3>You are a business?</h3>
      <p>
        We make it easy for you to pay for your team's members accounts. It remains the same
        easy pricing:<br>20$/user/year and each of your team's member gets a full Polynote account.
      </p>
      <p>
        Signup for a Polynote account and visit your account page to invite your team's members.
      </p>
    </div>
  </div>
</div>

<footer id="footer">
  <div class="container">
    <p class="links">
      <a href="/faq">FAQ</a>
      <a href="http://polynote.uservoice.com">Feedback</a>
      <a href="/terms">Terms</a>
      <a href="/privacy">Privacy</a>
      <a href="/blog">Blog</a>
      <a href="http://twitter.com/polynoteapp">Twitter</a>
      <a href="mailto:contact@https://polynote.io">Contact Us</a>
    </p>
    <p class="digicoop">
      Made with ❤ in India</a>
    </p>
  </div>
</footer>
</body>
</html>