<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      
    <p>
      Dear,<%= @user.email %>.<br>
    </p>
    <p>
      Your issue has been successfully be loadged.
      Your issue id is <b><%= @ticket_id %>
    </p>
    <p>We will get back to you soon.</p>
  </body>
</html>